neo4j-graphrag[openai]
langchain-openai
transformers
datasets
torch
neo4j-graphrag[nlp]
qdrant-client
tenacity
langgraph
langchain-community
langchain
pypdf
torch
fastapi
uvicorn[standard]
python-dotenv
langchain-qdrant